<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
		<target 
			name="console" 
			xsi:type="Console"
			layout="${message}" />
		<target 
			name="file" 
			xsi:type="File"
			fileName="pllab_${date:format=yyyyMMdd}.log.txt"
			encoding="utf-8"
			maxArchiveFiles="2000" 
			archiveNumbering="Sequence"
			archiveFileName="pllab_{########}.log.txt"/>
    </targets>
    <rules>
        <!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
        <logger name="*" levels="Info,Debug,Error" writeTo="console" />
        <logger name="*" levels="Info,Debug,Error" writeTo="file" />
        <!-- <logger name="*" levels="Error" writeTo="email" /> -->
    </rules>
</nlog>
